
	.button{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 8px;
	}

	.h3 {color: 000000;
		font-weight: bold;
		font-style: italic;
	}

	.input[type=text]{
		border-radius: 4px;
	}

	.div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	}

	.th{
		color: 008080;
	}